@model Demo.Models.UserModel
@{
    ViewBag.Title = "Register";
}

<fieldset>
    <legend>
        User Registration
    </legend>

    @using (Html.BeginForm("Register","Account",FormMethod.Post))
    {
<div>

    <div>
        <div>@Html.LabelFor(a => a.FirstName)</div>

        <div>@Html.TextBoxFor(a => a.FirstName, new { @class = "form-control" })</div>
    </div>

    <div>
       
        <div>
            @Html.ValidationMessageFor(a => a.FirstName, null, new { @class = "text text-danger" })
        </div>
    </div>
    <div>
        <div>@Html.LabelFor(a => a.LasttName)</div>

        <div>@Html.TextBoxFor(a => a.LasttName, new { @class = "form-control" })</div>
    </div>

    <div>
       
        <div>
            @Html.ValidationMessageFor(a => a.LasttName, null, new { @class = "text text-danger" })
        </div>
    </div>
    <div>
        <div>@Html.LabelFor(a => a.Email)</div>

        <div>@Html.TextBoxFor(a => a.Email, new { @class = "form-control" })</div>
    </div>

    <div>
        
        <div>
            @Html.ValidationMessageFor(a => a.Email, null, new { @class = "text text-danger" })
        </div>
    </div>
    <div>
        <div>@Html.LabelFor(a => a.Password)</div>

        <div>@Html.TextBoxFor(a => a.Password, new { @class = "form-control", type = "Password" })</div>

    </div>

    <div>
        
        <div>
            @Html.ValidationMessageFor(a => a.Password, null, new { @class = "text text-danger" })
        </div>
    </div>
    <div>
        <div>@Html.LabelFor(a => a.ConfirmPassword)</div>

        <div>@Html.TextBoxFor(a => a.ConfirmPassword, new { @class = "form-control", type = "Password" })</div>
    </div>

    <div>
      
        <div>
            @Html.ValidationMessageFor(a => a.ConfirmPassword, null, new { @class = "text text-danger" })
        </div>
    </div>
    <div>

    </div>
    <div style="margin-top:10px"  >
             <input type="submit" value="Register" class="btn btn-primary" />
               
            <input type="reset" value="Reset" class="btn btn-primary"  />
       
    </div>
    <div>
        @if (ViewBag.Message != null)
        {
            <div class="text-success">@ViewBag.Message</div>
        }
        else
        {

            <div class="text-danger"></div>

        }

    </div>

</div>
    }
</fieldset>
